/* http://meyerweb.com/eric/tools/css/reset/ 
 v2.0 | 20110126
 License: none (public domain)
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, q:before, blockquote:after, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/opensans/OpenSans-Bold-webfont.eot?") format("eot"), url("../fonts/opensans/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/opensans/OpenSans-Bold-webfont.svg#OpenSans") format("svg");
}
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans/OpenSans-Regular-webfont.eot?") format("eot"), url("../fonts/opensans/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/opensans/OpenSans-Regular-webfont.svg#OpenSans") format("svg");
}
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/opensans/OpenSans-light-webfont.eot?") format("eot"), url("../fonts/opensans/OpenSans-light-webfont.woff") format("woff"), url("../fonts/opensans/OpenSans-light-webfont.svg#OpenSans") format("svg");
}
body {
  font-family: "OpenSans";
  font-size: 14px;
}
h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}
p {
  font-weight: 300;
}
.clearfix:after, .row:after {
  content: '';
  display: table;
  height: 0;
  clear: both;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: auto;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
[class^=col] {
  float: left;
  padding: 0 15px;
  box-sizing: border-box;
}
.col1 {
  width: 8.33333%;
}
.col2 {
  width: 16.66667%;
}
.col3 {
  width: 25%;
}
.col4 {
  width: 33.33333%;
}
.col5 {
  width: 41.66667%;
}
.col6 {
  width: 50%;
}
.col7 {
  width: 58.33333%;
}
.col8 {
  width: 66.66667%;
}
.col9 {
  width: 75%;
}
.col10 {
  width: 83.33333%;
}
.col11 {
  width: 91.66667%;
}
.col12 {
  width: 100%;
}
.elements {
  padding: 30px 0;
}
