$indent: 30px;
$max-columns: 12;

.clearfix {
	&:after {
		content: '';
		display: table;
		height: 0;
		clear: both;
	}
}

.container {
	max-width: 1200px;
	padding: 0 $indent/2;
	margin: auto;
}

.row {
	margin-left: -$indent/2;
	margin-right: -$indent/2;
	@extend .clearfix;
}

[class^=col] {
	float: left;
	padding: 0 $indent/2;
	box-sizing: border-box;
}

@mixin column($col, $sum: $max-columns) {
	width: col / $sum * 100%;
	float: left;
	padding: 0 $indent/2;
	box-sizing: border-box;
}

@for $i from 1 through $max-columns {

	.col#{$i} {
		width: $i / $max-columns * 100%;
	}
}