doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Pug
		link(rel="stylesheet", href="/css/norm.css")
		link(rel="stylesheet", href="/css/main.css")
	body
		.container !{content}
			
